{% extends 'base.html' %}

{% block content %}
    <h1 class="title">{{ club.name }}</h1>
    <div class="content">
        <div class="club">
            <b>
                <p class="name">{{ club.name }}</p>
            </b>
            <div class="info">
                {% if club.pictureblob %}
                    <img src="{{ url_for('fetchprofilepic', club_name=club.name) }}" alt="{{ club.name }} profile picture">
                {% else %}
                    <img src="path/to/default/image.jpg" alt="{{ club.name }} profile picture">
                {% endif %}
                <div class="description">
                    <h4>Description</h4>
                    <p>{{ club.description|safe }}</p>
                </div>
                <div class="contact">
                    <h4>Contact</h4>
                    <p>{{ club.contact }}</p>
                </div>
                <div class="social-media">
                    <h4>Social Media</h4>
                    <ul>
                        {% if club.instagram %}<li>Instagram: <a href="{{ club.instagram }}">{{ club.instagram }}</a></li>{% endif %}
                        {% if club.youtube %}<li>YouTube: <a href="{{ club.youtube }}">{{ club.youtube }}</a></li>{% endif %}
                        {% if club.linkedin %}<li>LinkedIn: <a href="{{ club.linkedin }}">{{ club.linkedin }}</a></li>{% endif %}
                        {% if club.website %}<li>Website: <a href="{{ club.website }}">{{ club.website }}</a></li>{% endif %}
                        {% if club.facebook %}<li>Facebook: <a href="{{ club.facebook }}">{{ club.facebook }}</a></li>{% endif %}
                        {% if club.twitter %}<li>Twitter: <a href="{{ club.twitter }}">{{ club.twitter }}</a></li>{% endif %}
                    </ul>
                </div>
                <div class="events">
                    <h4>Events</h4>
                    <ul>
                        {% for event in club.events %}
                            <li>{{ event.date }} - {{ event.title }}</li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="officers">
                    <h4>Officers</h4>
                    <ul>
                        {% for officer in club.officers %}
                            <li>{{ officer.name }} - {{ officer.position }}</li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="contact-button">
                    <a href="https://westernu.campuslabs.ca/engage/organization/{{ club.id }}/contact" class="contact-btn">Contact</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}