{% extends 'base.html' %}

{% block content %}
    <h1 class="title">{% block title %} Rate My Clubs {% endblock %}</h1>
    <form method="get" action="/" class="searchbar">
        <input type="text" name="search" placeholder="Search clubs">
        <input type="Submit" value="🔍" class="searchbar">
    </form>
    <div class="content">
        {% for club in clubs %}
            <div class="club">
                <div class="club-card">
                    {% if club.pictureblob %}
                        <img src="{{ url_for('fetchprofilepic', club_name=club.name) }}" class="clubimagesmall" alt="{{ club.name }} profile picture">
                    {% else %}
                        <img src="path/to/default/image.jpg" class="clubimagesmall" alt="{{ club.name }} profile picture">
                    {% endif %}
                    <div class="club-info">
                        <b>
                            <p class="name"><a href="{{ url_for('one_club', club_name=club.name) }}">{{ club.name }}</a></p>
                        </b>
                        <div class="summary">
                            <p>{{ club.summary }}</p>
                        </div>
                    <!--{% for category in club.categorynames.split(";") %}
                            <p>{{ category }}</p>
                        {% endfor %}-->
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
